.navbar {
  background: transparent;
}

.navbar-brand{
  font-size:25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // border-bottom: solid 1px white;
  text-transform: uppercase;
}

.nav{
  margin: auto;
}

a{
  position: relative;
  text-decoration: none;
  font-family: 'poppins',sans-serif;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

a:after{
  content: "";
  position: absolute;
  background-color: #d06416;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}




