<div class="background-img">
  <app-navbar></app-navbar>

  <div class="center-content">
    <h1 style="color: #fff">
      Hello, I'm <span style="color: #d06416">Nhlanhla Mavundla</span>.
    </h1>
    <h1 style="color: #fff">I’m a full-stack web developer.</h1>
    <button class="btn btn-explore">
      Explore my work
      <i class="fa-solid fa-arrow-right fa-bounce"></i>
    </button>
  </div>
</div>

<div class="about-content">
  <div class="about">
    <h1 style="border-bottom: 4px solid #000">About</h1>
  </div>
  <div class="container" style="overflow: hidden">
    <div class="row my-2">
      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let skill of skills">
        <img src="{{ skill.image }}" class="skill" alt="" />
        <h3 class="skill_name">{{skill.skill_name}}</h3>
      </div>
    </div>
  </div>
</div>
Ï
